body {
    background-color: black;
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: blueviolet;
}

a:hover {
    color: darkviolet;
}

p {
    font-size: larger;
}

#splashtext {
    color: violet;
}