body {
    background-color: black;
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: blueviolet;
}

a:hover {
    color: darkviolet;
}

p {
    font-size: larger;
}

#splashtext {
    color: violet;
}

#voided-img {
    height: auto;
    max-width: 100%;
    object-fit: scale-down;
}

.btnicon {
    width: 32px;
    height: 32px;
}

@media only screen and (min-width: 525px) {
    #voided-img {
        max-width: 500px;
    }
}